/workshops/unit1/WS04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit1/Assignment02Iterations/nbproject/private/
/assignments/unit1/Assignment02Iterations/build/