/workshops/unit1/WS04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit1/Assignment02Iterations/nbproject/private/
/assignments/unit1/Assignment02Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/unit1/Assignment03_Menus/nbproject/private/
/assignments/unit1/Assignment03_Menus/build/
/Exams/Unit1/question11/IzurietaXantherJoelQ11/nbproject/private/
/Exams/Unit1/question11/IzurietaXantherJoelQ11/build/
/workshops/unit2/WS08_correction/build/
/assignments/unit2/HW08_FactorialNumbers/nbproject/private/
/assignments/unit2/HW08_FactorialNumbers/build/
/assignments/unit2/HW09_EmbeddedStructures/nbproject/private/
/assignments/unit2/HW09_EmbeddedStructures/build/
/workshops/unit2/WS10_Functions/nbproject/private/
/workshops/unit2/WS10_Functions/build/
/assignments/unit2/HW10_Functions/nbproject/private/
/assignments/unit2/HW10_Functions/build/
/assignments/unit2/WS11_FunctionsAndRecursion/nbproject/private/
/assignments/unit2/WS11_FunctionsAndRecursion/build/
/workshops/unit2/WS11_FuntionsAndRecursion/nbproject/private/
/workshops/unit2/WS11_FuntionsAndRecursion/2 part/WS11_FunctionsAndRecursion_part2/nbproject/private/
/workshops/unit2/WS11_FuntionsAndRecursion/2 part/WS11_FunctionsAndRecursion_part2/build/
/assignments/unit2/HW11_Recursion/nbproject/private/
/assignments/unit2/HW11_Recursion/build/
/assignments/unit2/HW11_RecursionFolder/HW11_Recursion_Example/nbproject/private/
/assignments/unit2/HW11_RecursionFolder/HW11_Recursion_Example/build/
/workshops/unit2/WS12_Libraries/nbproject/private/
/workshops/unit2/WS12_Libraries/build/
/assignments/unit2/HW12/HW12_IncomeTax/nbproject/private/
/assignments/unit2/HW12/HW12_ForeignCurrencyOutflowTax/nbproject/private/
/assignments/unit2/HW12/HW12_ForeignCurrencyOutflowTax/build/
/assignments/unit2/HW12/HW12_ValueAddedTax/nbproject/private/
/assignments/unit2/HW12/HW12_ValueAddedTax/build/
/assignments/unit2/HW12/HW12_IncomeTax/build/
/workshops/unit2/WS13_Task/nbproject/private/
/workshops/unit2/HW14_PrincipalColors/nbproject/private/
/workshops/unit2/HW14_PrincipalColors/build/
/workshops/unit2/FarmSimulator/nbproject/private/
/workshops/unit2/WS14_FarmSimulator/nbproject/private/
/workshops/unit2/WS14_FarmSimulator/build/
/assignments/unit2/HW13_Arrangements/nbproject/private/
/assignments/unit2/HW13_Arrangements/build/
/assignments/unit2/HW14_Arrays/nbproject/private/
/workshops/unit2/WS14_Arrays/nbproject/private/
/assignments/unit2/HW14_Arrays/build/
/Quizz/unit 2/Quizz_22_02_2021/nbproject/private/
/workshops/unit2/WS14_Arrays/build/
/Quizz/unit 2/Quizz_22_02_2021/build/
/Quizz/unit 2/SolutionQuizz22_02_2021/nbproject/private/
/Quizz/unit 2/SolutionQuizz22_02_2021/build/
/workshops/unit2/WS15_SolutionQuizz22_02_2021/nbproject/private/
/workshops/unit2/WS15_SolutionQuizz22_02_2021/build/
/workshops/unit2/WS16_MatrixAdition/nbproject/private/
/workshops/unit2/WS16_MatrixAdition/build/
/assignments/unit2/HW15_MatrixOperation/nbproject/private/
/assignments/unit2/HW15_MatrixOperation/build/
/workshops/unit2/WS17_MatrixTransposition/nbproject/private/
/workshops/unit2/WS17_MatrixTransposition/build/
/assignments/unit2/HW16_MatrixFunction/nbproject/private/
/assignments/unit2/HW16_MatrixFunction/build/
/Exams/unit2/JavaApplication60/nbproject/private/
/Exams/unit2/IzurietaXanther_Q11/nbproject/private/
/Exams/unit2/IzurietaXanther_Q11/build/