/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS01_HelloWorld/JavaApplication3/nbproject/private/
/assignments/unit1/Assigment01/nbproject/private/
/assignments/unit1/JavaApplication6/nbproject/private/
/assignments/unit1/Assigment_01/nbproject/private/
/assignments/unit1/Assigment_01/build/